ul.pagination {
    float: right;
}

.required::after {
    content: ' *';
    color: red;
}

.form-check-label {
    font-weight: bold;
}

.add-block {
    text-align: right;
    margin-bottom: 20px;
}

.families-status {
    text-align: center;
    margin-bottom: 20px;
}

.family-avatar {
    text-align: center;
}
.lead{
    width: 200px
}

#images-fields-list {
    margin: 0;
    padding: 0;
}
#images-fields-list li {
    list-style: none;
    margin: 20px 50px 20px 0;
    display: inline-block;
}

#images-fields-list li:last-child {
    margin-right: 0px;
}

.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: 0;
    margin-bottom: 2px;
    font-weight: 700;
}

.list-inline > li {
    display: inline-block;
    color: #6b6b6b;
    margin-right: 15px;
    margin-bottom: 5px;
}
.user-block .comment, .user-block .description, .user-block .username {
    margin-left: 0;
    font-size: 20px;
}

.student_courses_list {
    padding: 0;
}

.list-unstyled li {
    margin: 10px 0;
}

.sale-summary {
    text-align: right;
}

.sale-summary li .sale-info {
    margin-top: 4px;
    float: left;
    color: #646464;
    font-size: 14px;
    text-transform: uppercase;
}

/* Labels variants */
.label {
    display:inline-block;
    padding: 8px;
    color: #fff;
}
.label-default {
    background-color: #c6c6c6;
}
.label-default[href]:hover, .label-default[href]:focus {
    background-color: #adadad;
}

.label-primary {
    background-color: #428bca;
}
.label-primary[href]:hover, .label-primary[href]:focus {
    background-color: #3071a9;
}

.label-success {
    background-color: #45B6AF;
}
.label-success[href]:hover, .label-success[href]:focus {
    background-color: #37918b;
}

.label-info {
    background-color: #89C4F4;
    font-size: 20px;
}
.label-info[href]:hover, .label-info[href]:focus {
    background-color: #5aadf0;
}

.label-warning {
    background-color: #dfba49;
}
.label-warning[href]:hover, .label-warning[href]:focus {
    background-color: #d0a625;
}

.label-danger {
    background-color: #F3565D;
}
.label-danger[href]:hover, .label-danger[href]:focus {
    background-color: #f0262f;
}

.timeline {
    margin-top: 30px;
}

.requests .dropdown-menu {
    min-width: 8rem;
}

.requests .dropdown-menu li {
    margin: 5px;
}

.requests .dropdown-menu li a, .requests .dropdown-menu li button {
    font-size: 13px;
}



.md-check {
    display: inline;
}

.form-actions {
    display: none;
    padding-bottom: 20px;
    text-align: center;
}

.feeds {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.feeds li {
    background-color: #fafafa;
    color: #82949a;
    margin-bottom: 7px;
    padding:10px
}

.feeds li::after {
    clear: both;
}
.feeds li::before, .feeds li::after {
    display: table;
    line-height: 0;
    content: "";
}
.feeds li .col1 {
    float: left;
    clear: both;
}
.feeds li .col2 {
    float: right;
}
.feeds li .col1 > .cont {
    float: left;
    margin-right: 75px;
    overflow: hidden;
}

.feeds li .col1 > .cont > .cont-col1 {
    float: left;
}

.feeds li .col1 > .cont > .cont-col2 {
    float: right;
}

.feeds li .col1 > .cont > .cont-col1 > .label {
    display: inline-block;
    padding: 5px 4px 6px 5px;
    vertical-align: middle;
    text-align: center;
}

.feeds li .col1 > .cont > .cont-col2 > .desc {
    margin-left: 20px;
    padding-top: 4px;
    padding-bottom: 5px;
    overflow: hidden;
}

ul.task-categories {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.task-categories li {
    padding: 10px;
}

ul.task-categories li:hover {
    background-color: #eee;
}

ul.task-categories li.active {
    background-color: #87a9c7
}

.task-date {
    width: auto;
    float: left;
}

.task-string {
    width: auto;
    float: right;
}

.timeline > div > .timeline-item > .time {
    font-size: 14px !important;
}

.timeline > div > .timeline-item > .timeline-body, .timeline > div > .timeline-item > .timeline-footer {
    padding: 20px 10px;
}